.inp {
    width: 380px;
    height: 40px;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 5px;
    border: 1.5px solid #3E1671;
    background-color: #1E1E1E;
    color: #9E78CF;
}